@import '../../common/common.scss';
rm-human-factor {
  .-nav {
    background: #E2E3DB;
  }
  .-container {
    .-info-content {
      &::before {
        @include filter(grayscale(100%));
        background: url(../../common/img/human-factor-background.jpg) center top no-repeat #555;
      }
    }
  }
  .-info-text {
    display: none;
    background: nth($colors, random($lengthColors));
  }
}
