<rm-info-section ng-if="!vm.galleryShowed">
  <name>Factor Humano</name>
  <info-content>
  </info-content>
  <info-text>
    <h2>Experiencia, compromiso, confianza: la mayor fortaleza de Grupo Romo es su gente.</h2>
    <div class="-gallery-button" ng-click="vm.showGallery()">
      <div>
        <span>Galería</span>
        <md-icon md-font-icon="Ionicons" class="ion-android-add">
        </md-icon>
      </div>
    </div>
  </info-text>
</rm-info-section>
<rm-gallery images="vm.images" ng-show="vm.galleryShowed">
</rm-gallery>
