@import '../../common/common.scss';
rm-human-factor {
  .-nav {
    background: #E2E3DB;
  }
  .-container {
    .-info-content {
      &::before {
        background: url(../../common/img/human-factor-background.jpg) center no-repeat #555;
      }
    }
  }
  .-info-text {
    background: #6f6f05;
  }
}
