<rm-info-section ng-if="!vm.galleryShowed">
  <name>Impresiòn</name>
  <info-content>
  </info-content>
  <info-text>
    <p>Tras 25 años de ser líderes en la industria gráfica de nuestro país, podríamos hacer el recuento de nuestra tecnología,
      los volúmenes de producción anual, los metros cuadrados de nuestras instalaciones o los premios recibidos. Lo verdaderamente
      importante es nuestra experiencia en mantener el estándar por el que somos reconocidos y ver cada proyecto de impresión
      como un reto. En este rubro, nos distingue el cumplimiento constante en calidad y en tiempos de entrega.</p>
    <p>Ya sean catálogos especializados de gran tiraje, libros de arte o empaque, nuestra planta está siempre en constante producción,
      con el equipo necesario para atender varios proyectos a la vez, asumiendo para todos el mismo compromiso.</p>
    <p>El apoyo de nuestras áreas de diseño, premedia, insumos y distribución, bajo la guía de nuestros ejecutivos, solucionan
      cualquier necesidad que el cliente tenga durante el proceso.</p>
    <div class="-float-icon -plus" ng-click="vm.showGallery()">
      Galeria
      <md-icon md-font-icon="Ionicons" class="ion-android-add">
      </md-icon>
    </div>
  </info-text>
</rm-info-section>
<rm-gallery images="vm.images" ng-show="vm.galleryShowed">
</rm-gallery>
