@import '../../common/common.scss';
rm-premedia {
  .-nav {
    background: #E2E3DB;
  }
  .-container {
    .-info-content {
      &::before {
        @include filter(grayscale(100%));
        background: url(../../common/img/premedia-background.jpg) center top no-repeat #555;
      }
    }
  }
  .-info-text {
    background: #177986;
  }
}
