<rm-info-section ng-if="!vm.galleryShowed">
  <name>Premedia</name>
  <info-content>
  </info-content>
  <info-text>
    <p>Llevamos la preprensa más lejos de lo imaginado. Nuestro equipo contrasta el color de cada pieza que deba reproducirse
      en la impresión con tecnología de punta. Lo que antes se hacía con buen ojo, hoy eleva sus estándares con software
      sofisticado y manipulación digital, ya sea Mac, PC o video.</p>
    <p>Cada ejemplar, sin importar el volumen de impresión, será siempre fiel al aprobado al final de la cadena de perfilación
      y calibración de nuestras máquinas, gracias a nuestro sistema directo a placa.</p>
    <div class="-float-icon -plus" ng-click="vm.showGallery()">
      Galería
      <md-icon md-font-icon="Ionicons" class="ion-android-add">
      </md-icon>
    </div>
  </info-text>
</rm-info-section>
<rm-gallery images="vm.images" ng-show="vm.galleryShowed">
</rm-gallery>
