<rm-info-section ng-if="!vm.galleryShowed">
  <name>Almacenaje y distribución</name>
  <info-content>
  </info-content>
  <info-text>
    <p>
      Dos preocupaciones mantienen los estándares de Grupo Romo: abasto y calidad sustentable.
    </p>
    <p>Nuestro almacén tiene capacidad para resguardar 30 millones de hojas. Comprar lotes completos nos permite garantizar el manejo de color en los procesos de imprenta con mínimas variaciones en el blanco, por lo que las pruebas de color que se presentan al cliente se reproducen fielmente en todo el tiraje.</p>
    <p>Para adquirir lotes completos de papel es necesario ir directamente al fabricante, en nuestro caso, los molinos en Austria que producen el papel Magno de Sappi. Con esto garantizamos el abasto de papel para toda la temporada, sin recurrir a papeleras nacionales. Así evitamos el financiamiento externo y tenemos un beneficio de costo al eliminar los intermediarios.</p>
    <p>Para que tengas tus impresos siempre a tiempo, llevamos tu trabajo hasta donde estás, a las principales ciudades de la República, con transporte propio o a través de las líneas comerciales adecuadas a tus necesidades.</p>
      <p>Desplazamos 28 toneladas diarias, un total de 10 mil toneladas al año por toda la República, con nuestro sistema de fulfillment: integramos los materiales en paquetes por producto, segmentación, código postal, personalizados y etiquetados.</p>
    <div class="-gallery-button" ng-click="vm.showGallery()">
      <div>
        <span>Galería</span>
        <md-icon md-font-icon="Ionicons" class="ion-android-add">
        </md-icon>
      </div>
    </div>
  </info-text>
</rm-info-section>
<rm-gallery images="vm.images" ng-show="vm.galleryShowed">
</rm-gallery>
