$tablet-width: 768px;
$desktop-width: 1024px;
$projector-width: 1025px;
$undocked-width: 1366px;
$docked-width: 1680px;
@mixin mobile {
  @media screen and (max-width: #{$tablet-width} -1) and (orientation: landscape),
        screen and (max-width: #{$tablet-width} -1) and (orientation: portrait) {
    @content;
  }
}

@mixin tablet {
  @media screen and (min-width: #{$tablet-width}) and (max-width: #{$desktop-width} -1px) and (orientation: landscape),
         screen and (min-width : #{$tablet-width}) and (max-width: #{$desktop-width} -1px) and (orientation: portrait) {
    @content;
  }
}

@mixin portrait {
  @media screen and (orientation: portrait) {
    @content;
  }
}

@mixin landscape {
  @media screen and (orientation: landscape) {
    @content;
  }
}

@mixin desktop {
  @media (min-width: #{$projector-width}) and (max-width: #{$undocked-width -1px}) {
    @content;
  }
}

@mixin undocked {
  @media (min-width: #{$undocked-width}) and (max-width: #{$docked-width - 1px}) {
    @content;
  }
}

@mixin docked {
  @media(min-width: #{$docked-width}) {
    @content;
  }
}
