$tablet-width: 768px;
$desktop-width: 1024px;
$projector-width: 1025px;
$undocked-width: 1366px;
$docked-width: 1680px;
@mixin mobile {
  @media(max-width: #{$tablet-width} -1) {
    @content;
  }
}

@mixin tablet {
  @media (min-width: #{$tablet-width}) and (max-width: #{$desktop-width} -1px) {
    @content;
  }
}

@mixin desktop {
  @media (min-width: #{$projector-width}) and (max-width: #{$undocked-width -1px}) {
    @content;
  }
}

@mixin undocked {
  @media (min-width: #{$undocked-width}) and (max-width: #{$docked-width - 1px}) {
    @content;
  }
}

@mixin docked {
  @media(min-width: #{$docked-width}) {
    @content;
  }
}
