<div class="-float-icon -slide-left">
  <md-icon md-font-icon="Ionicons" ng-click="vm.slideLeft()" class="ion-ios-arrow-left">
  </md-icon>
</div>
<div class="-float-icon -slide-right">
  <md-icon md-font-icon="Ionicons" ng-click="vm.slideRight()" class="ion-ios-arrow-right">
  </md-icon>
</div>
<div layout="column" class="-content" layout-fill>
  <div class="-principal" layout-fill>
    <div class="-carousel-full">
      <div ng-repeat="(key, item) in ::vm.imageStyle" class="-image" ng-style="item">
      </div>
      <div ng-repeat="item in ::vm.videos" class="-video" ng-click="vm.pauseSlider()">
          <video width="640"
                height="264"
                vjs-video
                class="video-js vjs-default-skin"
                controls
                preload="auto"
                vjs-media="item"
                poster="poster.jpg">
          </video>
      </div>
    </div>
    <div class="dots">
    </div>
  </div>
</div>
