rm-prices {
  display: block;
  .page-container {
    height: 100%;
    background: #E2E3DB;
    .-container {
      padding: 6em 6em 2em;
      .-head {
        font-size: 80px;
        font-weight: 600;
        color: white;
        margin-left: -8px;
        height: 10vh;
        width: 100%;
      }
      .-list {
        height: 80%;
        width: 100%;
        >.-book {
          font-weight:600;
          font-size: 1.8vh;
          text-align: start;
          margin: 3px 0;
          text-transform: uppercase;
          .-price {
            font-weight: normal;
            font-size: 1.6vh;
          }
        }
      }
      .-image {
        display: flex;
        justify-content: center;
        align-items: flex-end;
        img {
          padding-bottom: 2vh;
        }
      }
    }
  }
}
