rm-prices {
  display: block;
  background-color: #E2E3DB;
  .page-container {
    height: 100%;
    .-container {
      padding: 6em 6em 2em;
      .-head {
        height: 100px;
        font-size: 80px;
        font-weight: 600;
        color: white;
        margin-left: -8px;
        height: 15%;
      }
      .-list {
        height: 80%;
        span {
          text-align: start;
          margin: 3px 0;
        }
      }
      .-image {
        display: flex;
        justify-content: center;
        align-items: flex-end;
        img {
          padding-bottom: 2vh;
        }
      }
    }
  }
}
