<div class="-main">
  <rm-section>
    <div class="-container" layout-fill layout="row">
      <div layout="column" layout-align="start start" flex="grow">
        <div class="-head" layout="row" layout-align="start end">
          <span>Premios</span>
        </div>
        <div class="-list" layout="row" layout-wrap>
          <div class="-book" ng-repeat="(book, price) in vm.prices" flex="50">
            {{book}}
            <div class="-price" ng-repeat="item in price">
              {{item}}
            </div>
          </div>
          <span>
        </div>
      </div>
      <div class="-image" layout="row" layout-align="center end" flex="20" hide-xs>
        <img src="{{vm.trophy}}" alt="">
      </div>
    </div>
  </rm-section>
</div>
