<div layout-fill class="main">
  <rm-info-section class="page-1">
    <name>Compañia</name>
    <info-content>
      <div class="-circle">
        <span>
          Diseño Editorial
        </span>
      </div>
    </info-content>
    <info-text>
      <p>
        Labore cupidatat ut minim aliqua et cupidatat voluptate amet occaecat. Mollit aliqua nostrud voluptate fugiat magna ipsum
        ea anim. In veniam consequat veniam sint enim reprehenderit do anim. Sit ea ex fugiat occaecat minim Lorem eu aliqua
        occaecat elit dolor cupidatat.
      </p>
      <p>Culpa eiusmod nostrud mollit ut mollit elit. Enim occaecat minim eiusmod velit exercitation occaecat sunt. Aliqua et
        occaecat officia eiusmod deserunt consequat id. Magna nulla non aliqua amet aliquip. Ullamco amet cupidatat labore
        quis ipsum fugiat velit aliqua.
      </p>
    </info-text>
  </rm-info-section>
  <rm-info-section class="page-2">
    <name>Compañia</name>
    <info-content>
      <div class="-circle -white">
        <span>
          Edicion
        </span>
      </div>
    </info-content>
    <info-text>
      <p>
        Veniam magna veniam eu deserunt excepteur anim cupidatat adipisicing magna nostrud. Magna excepteur id anim duis est dolor.
        Et cupidatat voluptate id ullamco eu et in aute sit excepteur pariatur ex. Commodo irure in esse adipisicing dolore
        quis mollit ea exercitation non exercitation.
      </p>
      <p>
        Sunt dolor elit ea voluptate nisi fugiat exercitation ad adipisicing labore consectetur amet fugiat irure. Est deserunt nisi
        ea elit mollit qui. Fugiat eu id magna quis laborum voluptate minim aliquip irure labore. Ut sunt id nulla enim incididunt
        aute nostrud nulla. Excepteur do eu ut ipsum laborum anim et commodo fugiat duis tempor. Amet in magna laborum qui
        velit voluptate culpa Lorem aliqua proident. Ad anim nulla laborum exercitation aute commodo deserunt enim aute consequat
        cillum.
      </p>
    </info-text>
  </rm-info-section>

</div>
