<rm-info-section ng-if="!vm.galleryShowed">
  <name>Empaquetaciòn</name>
  <info-content>
  </info-content>
  <info-text>
    <p>
      Est mollit ullamco excepteur tempor excepteur. Ex fugiat Lorem consequat commodo. Quis minim excepteur reprehenderit eu ullamco
      reprehenderit duis velit in pariatur qui non. Cupidatat eu ipsum sint sit excepteur ullamco ad non pariatur do exercitation
      tempor proident cupidatat. Sunt eiusmod ea ut fugiat elit sint nulla adipisicing minim cillum reprehenderit ipsum ea.
    </p>
    <p>Culpa eiusmod nostrud mollit ut mollit elit. Enim occaecat minim eiusmod velit exercitation occaecat sunt. Aliqua et
      occaecat officia eiusmod deserunt consequat id. Magna nulla non aliqua amet aliquip. Ullamco amet cupidatat labore
      quis ipsum fugiat velit aliqua.
    </p>
    <div class="-float-icon -plus" ng-click="vm.showGallery()">
      Galeria
      <md-icon md-font-icon="Ionicons" class="ion-android-add">
      </md-icon>
    </div>
  </info-text>
</rm-info-section>
<rm-gallery images="vm.images" ng-show="vm.galleryShowed">
</rm-gallery>
