<rm-info-section ng-if="!vm.galleryShowed">
  <name>Fotografía</name>
  <info-content>
  </info-content>
  <info-text>
    <p>La producción de contenidos visuales suele ser un proceso complejo en el camino de la creatividad. En Grupo Romo contamos
      con instalaciones y servicios para que nuestros clientes puedan realizar todos los procesos en un solo lugar.</p>
    <p>En 2,000 m2, con dos foros y capacidad de hasta siete sets simultáneos, nuestro equipo de profesionales organiza castings,
      producción fotográfica y fotografía de producto. No importa si el resultado final es un impreso o un comercial, si
      se requiere fotografiar automóviles, gastronomía o moda.</p>
    <p>Además de las producciones en el foro, tanto para foto fija como 360 y 3D, nuestro equipo realiza también producción
      en locación, para cubrir todas las necesidades del cliente.</p>
    <div class="-float-icon -plus" ng-click="vm.showGallery()">
      Galería
      <md-icon md-font-icon="Ionicons" class="ion-android-add">
      </md-icon>
    </div>
  </info-text>
</rm-info-section>
<rm-gallery images="vm.images" ng-show="vm.galleryShowed">
</rm-gallery>
