<md-sidenav class="md-sidebar-left rm-sidebar" md-component-id="sidebar">
  <div class="-fixed">
    <div class="-head" ng-click="nav('home')">
      <hi>romo</hi>
    </div>
  </div>
  <md-list class="-list">
    <rm-listitem ng-click="nav('distribution')" aria-label="distribution">
      Almacenamiento y distribución
    </rm-listitem>
    <rm-listitem ng-click="nav('design')" aria-label="design">
      Diseño
    </rm-listitem>
    <rm-listitem ng-click="nav('photography')" aria-label="photography">
      Fotografía
    </rm-listitem>
    <rm-listitem ng-click="nav('premedia')" aria-label="premedia">
      Premedia
    </rm-listitem>
    <rm-listitem ng-click="nav('editionCare')" aria-label="editionCare">
      Coordinación editorial
    </rm-listitem>
    <rm-listitem ng-click="nav('printing')" aria-label="printing">
      Impresión
    </rm-listitem>
    <rm-listitem ng-click="nav('prices')" aria-label="Prices">
      Premios
    </rm-listitem>
      
    <!--<rm-listitem ng-click="vm.toggleBooks()" aria-label="Books">
      Libros
    </rm-listitem>-->
      
  </md-list>
  <div layout="column" class="-links">
    <div class="-title">Siguenos</div>
    <section layout="row" layout-align="center center" layout-wrap>
      <a href="https://www.facebook.com/pages/Grupo-Grafico-Romo-SA-de-CV/174529385930082?fref=ts" target="_blank">
        <md-icon md-font-icon="Ionicons" class="ion-social-facebook"></md-icon>
      </a>
      <a href="mailto:contacto@gruporomo.com">
        <md-icon md-font-icon="Ionicons" class="ion-android-mail"></md-icon>
      </a>
    </section>
  </div>
</md-sidenav>
