<md-sidenav class="md-sidebar-left rm-sidebar" md-component-id="sidebar">
  <div class="-fixed">
    <div class="-head" ng-click="nav('home')">
      <hi>romo</hi>
    </div>
  </div>
  <md-list class="-list">
    <rm-listitem ng-click="nav('company')" aria-label="Company">
      Compañia
    </rm-listitem>
    <rm-listitem ng-click="nav('distribution')" aria-label="distribution">
      Almacenamiento y distribución
    </rm-listitem>
    <rm-listitem ng-click="nav('design')" aria-label="design">
      Diseño
    </rm-listitem>
    <rm-listitem ng-click="nav('photography')" aria-label="photography">
      Fotografía
    </rm-listitem>
    <rm-listitem ng-click="nav('premedia')" aria-label="premedia">
      Premedia
    </rm-listitem>
    <rm-listitem ng-click="nav('editionCare')" aria-label="editionCare">
      Coordinación editorial
    </rm-listitem>
    <rm-listitem ng-click="nav('printing')" aria-label="printing">
      Impresión
    </rm-listitem>
    <rm-listitem ng-click="nav('packing')" aria-label="packing">
      Empaque
    </rm-listitem>
    <rm-listitem ng-click="nav('video')" aria-label="video">
      Video
    </rm-listitem>
    <rm-listitem ng-click="nav('projects')" aria-label="Projects">
      Servicios
    </rm-listitem>
    <rm-listitem ng-click="nav('prices')" aria-label="Prices">
      Premios
    </rm-listitem>
    <rm-listitem ng-click="nav('human-factor')" aria-label="HumanFactor">
      Factor humano
    </rm-listitem>
    <rm-listitem ng-click="nav('faq')" aria-label="FAQ">
      FAQ
    </rm-listitem>
  </md-list>
  <div layout="column" class="-links">
    <div class="-title">Siguenos</div>
    <section layout="row" layout-align="center center" layout-wrap>
      <a href="https://www.twitter.com">
        <md-icon md-font-icon="Ionicons" class="ion-social-twitter">
        </md-icon>
      </a>
      <a href="https://www.facebook.com">
        <md-icon md-font-icon="Ionicons" class="ion-social-facebook"></md-icon>
      </a>
      <a href="https://www.youtube.com">
        <md-icon md-font-icon="Ionicons" class="ion-social-youtube"></md-icon>
      </a>
      <a href="https://www.instagram.com">
        <md-icon md-font-icon="Ionicons" class="ion-social-instagram"></md-icon>
      </a>
      <a href="mailto:mail@romo.com">
        <md-icon md-font-icon="Ionicons" class="ion-android-mail"></md-icon>
      </a>
    </section>
  </div>
</md-sidenav>
