@import '../common';
rm-sidebar {
  .-fixed {
    background-color: transparent;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 100;
    display: inherit;
    .-head {
      font-size: $logo-head-font-size;
      padding: 11px 20px;
      color: $logo-head-color;
      cursor: pointer;
      .-logo {
        background: url(../../common/img/logoMenu.png) center top no-repeat transparent;
        background-size: cover;
        height: 8vh;
        width: 26vh;
      }
    }
  }
  .-list {
    md-list-item {
      min-height: 36px;
      height: 36px;
    }
  }
  .-links {
    position: absolute;
    bottom: 2em;
    left: 15vh;
    color: white;
    font-weight: 500;
    text-align: left;
    .-title {
      padding: 15px 10px;
    }
    md-icon {
      &:hover {
        color: red;
      }
      cursor: pointer;
      padding: 0 10px;
      font-size: 30px;
      color: white;
    }
  }
  .md-sidebar-left.rm-sidebar,
  md-backdrop.md-sidenav-backdrop {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .md-sidebar-left.rm-sidebar {
    background-color: black;
    opacity: 0.7;
    md-list {
      padding: 0;
    }
  }
}
