@import '../common';
@import '../ionicons/scss/ionicons';
rm-navbar {
  background-color: transparent;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 100;
  .-container {
    display: flex;
  }
  .-head {
    font-size: $logo-head-font-size;
    padding: $logo-head-padding;
    color: $logo-head-color;
    cursor: pointer;
  }
  .-menu {
    .-icon {
      cursor: pointer;
      margin: 5px 5px 0 0;
      padding: 20px;
      background-color: black;
      border: 1px solid white;
      md-icon {
        font-size: 30px;
        color: white;
      }
    }
  }
}
