<div layout="row" layout-align="space-between center" class="-container">
  <div class="-head" ui-sref="home">
    <hi>romo</hi>
  </div>
  <div class="-menu">
    <div class="-icon" ng-show="vm.services.user.hasCloseButton()">
      <md-icon
        ng-click="vm.services.user.onClose()"
        md-font-icon="Ionicons"
        class="ion-android-close">
      </md-icon>
    </div>
    <div class="-icon">
      <md-icon
        md-font-icon="Ionicons"
        class="ion-navicon"
        ng-click="vm.toggle()">
      </md-icon>
    </div>
  </div>
</div>
<div class="-icon-down">
  <md-icon md-font-icon="Ionicons"
          ng-show="vm.services.user.hasNavButton()"
          class="ion-ios-arrow-down"
          ng-click="vm.moveDown()">
  </md-icon>
</div>
