<rm-info-section>
  <name>Diseño</name>
  <info-content>
  </info-content>
  <info-text>
    <p>El equipo de Grupo Romo no estaría completo sin la creatividad y el talento de nuestro departamento de diseño. Desde
      resolver cualquier contingencia de última hora con los materiales que llegan ya elaborados, hasta realizar el concepto
      de un libro completo.</p>
    <p>Vinculados con el foro para la producción de imágenes, con premedia para garantizar la calidad constante en el resultado
      final, y con especialistas en publicidad, coordinación editorial, escritores y correctores, nuestros diseñadores pondrán
      en papel cualquier cosa que nuestros clientes imaginen.</p>
    <p> Los premios que hemos obtenido hablan por sí mismos.</p>
    </info-t ext>
</rm-info-section>
