@import url(http://fonts.googleapis.com/css?family=Roboto)

// browsers default to 16px for font-size,
// so setting top-level font-size to 62.5%
// scales 1rem to equal 10px.
body
  font 100% 'Roboto', sans-serif
