@import '../../common/common.scss';
rm-faqs {
  >.-section {
    padding-top: 10vh;
  }
  .-container {
    overflow: auto;
    padding: 5vh;
    >.-head {
      font-size: 5vh;
      padding: 2vh 0;
      font-weight: 600;
      color: white;
      height: 10vh;
      width: 100%;
    }
    .rm-accordion-group {
      overflow: auto;
      height: 70vh;
    }
  }
}
