<rm-section class="-section">
  <div layout="column" layout-fill class="-container">
    <div class="-head" layout="row" layout-align="start end">
      <span>Preguntas Frecuentes</span>
    </div>
    <rm-accordion-group selected="first">
      <rm-accordion id="first" render="true">
        <rm-accordion-title>
          ¿Con cuánto tiempo de anticipación debo programar mis impresos?
        </rm-accordion-title>
        <rm-accordion-content layout="column" layout-fill>
          <p style="text-align: left">Cada proyecto es diferente, y depende de los procesos que implique, del tamaño del impreso y su tiraje. En Grupo Romo coordinamos con nuestros clientes sus necesidades para entregar a tiempo y con el mismo estándar de calidad que nos caracteriza. Acércate a nuestros ejecutivos y deja que te asesoremos personalmente.</p>
        </rm-accordion-content>
      </rm-accordion>
      <rm-accordion id="second" render="true">
        <rm-accordion-title>
          ¿Puedo realizar en sus instalaciones toda la producción para mis impresos, es decir, fotografía, diseño, elaboración de textos, premedia, impresión y distribución?
        </rm-accordion-title>
        <rm-accordion-content layout="column" layout-fill>
          <p style="text-align: left">En Grupo Romo contamos con las instalaciones, el equipo y el personal necesario para darte el servicio integral que requieras. Nuestro equipo de coordinación editorial te propondrá soluciones a la medida de tus proyectos, con lo mejor de nuestros especialistas. Haz una cita con nuestros ejecutivos.</p>
        </rm-accordion-content>
      </rm-accordion>
      <rm-accordion id="third" render="true">
        <rm-accordion-title>
          Necesito el diseño gráfico para mis empaques, ¿pueden hacerlo?
        </rm-accordion-title>
        <rm-accordion-content layout="column" layout-fill>
          <p style="text-align: left">Nuestro equipo cuenta con diseñadores gráficos e industriales especializados, que pueden desarrollar un proyecto completo, desde la parte creativa hasta la funcional. Para ello, es necesario contar con una muestra real del producto para asegurar que el diseño del empaque comprenda correctamente dimensiones y resistencia. Si tienes dudas, haz una cita con nosotros y te propondremos la mejor solución para tus necesidades.</p>
        </rm-accordion-content>
      </rm-accordion>
      <rm-accordion id="fourth" render="true">
        <rm-accordion-title>
          Necesito igualar el color de mis productos en mis impresos, ¿es posible?
        </rm-accordion-title>
        <rm-accordion-content layout="column" layout-fill>
          <p style="text-align: left">En Grupo Romo hemos llevado la preprensa a otro nivel. Nuestro departamento de Premedia tiene la experiencia, el equipo y la tecnología para acercar lo más posible el color entre tu producto y el impreso final. Haz una cita con nuestros ejecutivos, que aclararán todas tus dudas.</p>
        </rm-accordion-content>
      </rm-accordion>
      <rm-accordion id="fifth" render="true">
        <rm-accordion-title>
          ¿Los tiempos de envío están contemplados en los tiempos de entrega?
        </rm-accordion-title>
        <rm-accordion-content layout="column" layout-fill>
          <p style="text-align: left">Al formalizar tu pedido, y de acuerdo a tus necesidades de envío, te indicaremos el tiempo de entrega, ya sea en el área metropolitana de la Ciudad de México o en el resto de la República. Es importante que nos hagas saber dónde y cuándo necesitas tus impresos para calcular los tiempos de imprenta y de envío y que así tengas tu producto donde lo necesitas y cuando lo necesitas. Nuestros ejecutivos pueden ayudarte a coordinar este proceso.</p>
        </rm-accordion-content>
      </rm-accordion>
      <rm-accordion id="sixth" render="true">
        <rm-accordion-title>
          ¿Puedo contratar el foro de fotografía y llevar mi equipo y personal?
        </rm-accordion-title>
        <rm-accordion-content layout="column" layout-fill>
          <p style="text-align: left">Claro que sí. En Grupo Romo podemos rentar parte de nuestras instalaciones de foro, según tus necesidades específicas. Nuestro equipo de profesionales está a tu disposición para que coordines tu producción.</p>
        </rm-accordion-content>
      </rm-accordion>
      <rm-accordion id="seventh" render="true">
        <rm-accordion-title>
          ¿Puedo contratar los servicios de fotografía para locación externa?
        </rm-accordion-title>
        <rm-accordion-content layout="column" layout-fill>
          <p style="text-align: left">Contamos con una unidad especializada para trasladarse a locaciones, así como el personal necesario para apoyar en las sesiones fotográficas que requieras. Contacta a nuestros ejecutivos para saber de tus necesidades, qué equipo (en tecnología y humano) requieres, y coordinar tu producción.</p>
        </rm-accordion-content>
      </rm-accordion>
      <rm-accordion id="eight" render="true">
        <rm-accordion-title>
          ¿Puedo contratar las instalaciones del foro sólo para hacer un casting?
        </rm-accordion-title>
        <rm-accordion-content layout="column" layout-fill>
          <p style="text-align: left">Podemos apoyarte con la renta de las instalaciones necesarias para llevar acabo un casting y, si lo requieres, poner a tu disposición el personal adecuado que te ayude a coordinarlo. Acércate a nuestros ejecutivos para hacer una cita.</p>
        </rm-accordion-content>
      </rm-accordion>
      <rm-accordion id="nineth" render="true">
        <rm-accordion-title>
          ¿Su imprenta está certificada a estándares ISO y GraCol?
        </rm-accordion-title>
        <rm-accordion-content layout="column" layout-fill>
          <p style="text-align: left">Grupo Romo se preocupa por tener los más altos estándares de calidad, y por lo tanto mantiene al día sus certificaciones en los procesos de producción y gestión de color.</p>
        </rm-accordion-content>
      </rm-accordion>
       <rm-accordion id="ten" render="true">
        <rm-accordion-title>
          ¿Para cuántos colores (cabezas) son sus prensas?
        </rm-accordion-title>
        <rm-accordion-content layout="column" layout-fill>
          <p style="text-align: left">Tenemos prensas desde cuatro hasta ocho cuerpos de impresión en línea, por lo que cubrimos todas las necesidades de impresión. Cuatro de nuestras máquinas tienen torre de Barniz Acuoso, y también aplicamos tintas y barnices base solvente. Cuéntanos tus necesidades, nuestros ejecutivos pueden aclarar todas tus dudas.</p>
        </rm-accordion-content>
      </rm-accordion>
       <rm-accordion id="eleven" render="true">
        <rm-accordion-title>    
        ¿Puedo solicitar sólo alguno de los servicios que ofrecen, por ejemplo, sólo encuadernado?
        </rm-accordion-title>
        <rm-accordion-content layout="column" layout-fill>
          <p style="text-align: left">Acércate a nuestros ejecutivos para una asesoría personalizada. En Grupo Romo ofrecemos servicios integrales, pero también diferenciados, tomando en cuenta el volumen, la especialización y los tiempos de entrega. Es importante que hagas una cita con nuestros ejecutivos para que te orienten de manera personal. Seguro encontraremos una solución adecuada para tu proyecto.</p>
        </rm-accordion-content>
      </rm-accordion>
       <rm-accordion id="twelve" render="true">
        <rm-accordion-title>
          ¿Sólo tengo una idea para mi catálogo, ¿ustedes se encargan de absolutamente todo para realizarlo?
        </rm-accordion-title>
        <rm-accordion-content layout="column" layout-fill>
          <p style="text-align: left">El equipo creativo de Grupo Romo tiene amplia experiencia en proyectos complejos, que implican un trabajo integral de concepción, redacción, diseño, producción e impresión, hasta la logística de entrega. No importa si es un libro de arte, un catálogo comercial o una campaña de publicidad. Haz una cita y visita nuestras instalaciones. Estaremos a tu lado en cada uno de los procesos para cristalizar tu proyecto.</p>
        </rm-accordion-content>
      </rm-accordion>
       <rm-accordion id="thirteen" render="true">
        <rm-accordion-title>
          ¿Me urge mi libro, ¿en cuánto tiempo tengo la cotización?
        </rm-accordion-title>
        <rm-accordion-content layout="column" layout-fill>
          <p style="text-align: left">Entre 24 y 48 horas te hacemos llegar tu cotización, dependiendo de la complejidad de tu proyecto. Contacta a nuestros ejecutivos para darnos todos los datos necesarios.</p>
        </rm-accordion-content>
      </rm-accordion>
      <rm-accordion id="fpurteen" render="true">
        <rm-accordion-title>
          ¿Sólo quiero cinco ejemplares de mi libro, ¿pueden hacerlo?

        </rm-accordion-title>
        <rm-accordion-content layout="column" layout-fill>
          <p style="text-align: left">Contamos con la tecnología para imprimir libros bajo demanda, desde una pieza, en impresión digital. Acércate a nuestros ejecutivos para orientarte.</p>
        </rm-accordion-content>
      </rm-accordion>
    </rm-accordion-group>
    <section align="right">
      <a href="mailto:contacto@gruporomo.com">
        <md-icon md-font-icon="Ionicons" class="ion-android-mail"> contacto@gruporomo.com</md-icon>
      </a>
      <md-icon md-font-icon="Ionicons" class="ion-android-call"><span style="font-size: 17px">  (55) 21.22.60.50</span></md-icon>
    </section>
  </div>
</rm-section>
