<rm-section class="-section">
  <div layout="column" layout-fill class="-container">
    <div class="-head" layout="row" layout-align="start end">
      <span>Preguntas Frecuentes</span>
    </div>
    <rm-accordion-group selected="first">
      <rm-accordion id="first" render="true">
        <rm-accordion-title>
          Por que ROMO?
        </rm-accordion-title>
        <rm-accordion-content layout="column" layout-fill>
          <p>Por que la verdad nos gusta mucho</p>
        </rm-accordion-content>
      </rm-accordion>
      <rm-accordion id="second" render="true">
        <rm-accordion-title>
          Por que ROMO?
        </rm-accordion-title>
        <rm-accordion-content layout="column" layout-fill>
          <p>Por que la verdad nos gusta mucho</p>
        </rm-accordion-content>
      </rm-accordion>
      <rm-accordion id="third" render="true">
        <rm-accordion-title>
          Por que ROMO?
        </rm-accordion-title>
        <rm-accordion-content layout="column" layout-fill>
          <p>Por que la verdad nos gusta mucho</p>
        </rm-accordion-content>
      </rm-accordion>
      <rm-accordion id="fourth" render="true">
        <rm-accordion-title>
          Por que ROMO?
        </rm-accordion-title>
        <rm-accordion-content layout="column" layout-fill>
          <p>Por que la verdad nos gusta mucho</p>
        </rm-accordion-content>
      </rm-accordion>
      <rm-accordion id="fifth" render="true">
        <rm-accordion-title>
          Por que ROMO?
        </rm-accordion-title>
        <rm-accordion-content layout="column" layout-fill>
          <p>Por que la verdad nos gusta mucho</p>
        </rm-accordion-content>
      </rm-accordion>
      <rm-accordion id="sixth" render="true">
        <rm-accordion-title>
          Por que ROMO?
        </rm-accordion-title>
        <rm-accordion-content layout="column" layout-fill>
          <p>Por que la verdad nos gusta mucho</p>
        </rm-accordion-content>
      </rm-accordion>
      <rm-accordion id="seventh" render="true">
        <rm-accordion-title>
          Por que ROMO?
        </rm-accordion-title>
        <rm-accordion-content layout="column" layout-fill>
          <p>Por que la verdad nos gusta mucho</p>
        </rm-accordion-content>
      </rm-accordion>
      <rm-accordion id="eight" render="true">
        <rm-accordion-title>
          Por que ROMO?
        </rm-accordion-title>
        <rm-accordion-content layout="column" layout-fill>
          <p>Por que la verdad nos gusta mucho</p>
        </rm-accordion-content>
      </rm-accordion>
      <rm-accordion id="nineth" render="true">
        <rm-accordion-title>
          Por que ROMO?
        </rm-accordion-title>
        <rm-accordion-content layout="column" layout-fill>
          <p>Por que la verdad nos gusta mucho</p>
        </rm-accordion-content>
      </rm-accordion>
    </rm-accordion-group>
  </div>
</rm-section>
