<div class="main">
  <rm-section class="page1">
    <div class="-images" layout="column" layout-fill>
      <img src="{{vm.logo}}" />
      <img class="-year" src="{{vm.years}}">
    </div>
  </rm-section>
  <rm-section class="page2">
    <div class="-float-icon -slide-left">
      <md-icon
        md-font-icon="Ionicons"
        ng-click="vm.slideLeft()"
        class="ion-ios-arrow-left">
      </md-icon>
    </div>
    <div class="-float-icon -slide-right">
      <md-icon md-font-icon="Ionicons"
        ng-click="vm.slideRight()"
        class="ion-ios-arrow-right">
      </md-icon>
    </div>
    <div class="-carousel">
      <div class="-image" ng-repeat="item in ::vm.books" flex="nogrow" layout="column">
        <img src="{{::item.image}}">
        <div class="-name">
          {{::item.name}}
        </div>
      </div>
    </div>
  </rm-section>
</div>
