<div class="main">
  <rm-section class="page1">
    <div class="-images" layout-fill>
      <img src="{{vm.logo}}" class="-logo"/>
      <img class="-year" src="{{vm.years}}">
      <div class="-go-down">
        <md-icon md-font-icon="Ionicons" ng-click="vm.goDown()" class="ion-ios-arrow-down">
        </md-icon>
      </div>
    </div>
  </rm-section>
  <rm-section class="page2">
    <div ng-if="!vm.imageSelected">
      <div class="-float-icon -slide-left">
        <md-icon md-font-icon="Ionicons" ng-click="vm.slideLeft()" class="ion-ios-arrow-left">
        </md-icon>
      </div>
      <div class="-float-icon -slide-right">
        <md-icon md-font-icon="Ionicons" ng-click="vm.slideRight()" class="ion-ios-arrow-right">
        </md-icon>
      </div>
    </div>
    <div class="-carousel"
      ng-if="!vm.imageSelected">
      <div class="-image" ng-repeat="(key, item) in ::vm.books"
        flex="nogrow"
        layout="column">
        <img ng-src="{{::item.image}}"
          ng-click="vm.showDetail(item, $event, key)">
        <div class="-name">
          {{::item.name}}
        </div>
      </div>
    </div>
    <div class="-image-detail"
      ng-class="{'-transition': vm.showTransition}"
      ng-if="!!vm.imageSelected">
      <img ng-src="{{::vm.imageSelected.imageOpen}}" />
      <div ng-repeat="(key, section) in ::vm.imageSelected.sections"
        ng-click="vm.nav(section.link, vm.slickOptions.initialSlide)"
        id="section-{{key}}"
        class="-circle {{section.class || '-white'}} -section-link scaling">
        <span>
          {{section.name}}
        </span>
      </div>
    </div>
  </rm-section>
</div>
