<rm-info-section>
  <name>Infraestructura</name>
  <info-content>
  </info-content>
  <info-text>
    <p>
      Labore cupidatat ut minim aliqua et cupidatat voluptate amet occaecat. Mollit aliqua nostrud voluptate fugiat magna ipsum
      ea anim. In veniam consequat veniam sint enim reprehenderit do anim. Sit ea ex fugiat occaecat minim Lorem eu aliqua
      occaecat elit dolor cupidatat.
    </p>
    <p>Culpa eiusmod nostrud mollit ut mollit elit. Enim occaecat minim eiusmod velit exercitation occaecat sunt. Aliqua et
      occaecat officia eiusmod deserunt consequat id. Magna nulla non aliqua amet aliquip. Ullamco amet cupidatat labore
      quis ipsum fugiat velit aliqua.
    </p>
  </info-text>
</rm-info-section>
